[user]
	email = a@oztaser.com
	name = Adil OZTASER
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	st = status
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset'
	la = log --color --graph --oneline --decorate --all --
	b = branch
	pl = pull
	ps = push
	co = checkout
	df = diff
[diff]
	noprefix = true